
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 50rem;
    background: white;
    border: 1px solid black;
    z-index: 10;
    border-radius: 4px;

}