
.container{
    width: 95%;
    margin: 1rem auto;

}

.row{

    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 1rem;

}

.input{
    padding: 0.75rem 1rem;
    font-size: 1.4rem;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 50%;
}

.input:focus{
    border: 1px solid lightblue;
}

.label{
    font-size: 1.4rem;
}

.select{
    font-size: 1.4rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100px;
}
