
.row{
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.cell{
    width: calc(100% / 6);
    text-align: center;
    padding: 0.5rem 0;
}

.heading{
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}
.heading1{
    opacity: 0;
}

.content{
    font-size: 1.4rem;
    text-align: center;
}

.link{
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}