
.container{
    width: 100%;
    height: 100%;
    padding: 1rem 5rem;
    position: relative;
}

.close{
    font-size: 3rem;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;

}
.close:hover{
    color:red;
}

.row{
    display: flex;
    justify-content: space-between;
}

.row:nth-child(2){
    margin-top: 5rem;
}

.label{
    margin: 2rem 0 1rem;
    font-size: 2rem;
    text-decoration: underline;
}

.details{
    font-size: 1.6rem;
    padding: 1rem 0;
    font-weight: 900;
}

.content{
    font-weight: 500;
}